
<%- include('../partials/header.ejs') %>

	<h1>Homepage</h1>
	<p><%= message %></p>
  <pre><%= h.dump(data) %></pre>



  <svg width="960" height="500"></svg>

  <script src="https://d3js.org/d3.v4.min.js"></script>

  <script type="text/javascript">
		var sock = new SockJS('http://localhost:9999/echo');
		sock.onopen = function() {
				console.log('open');
				sock.send('test');
		};
		
		sock.onmessage = function(e) {
				console.log('message', e.data);
				sock.close();
		};
		
		sock.onclose = function() {
				console.log('close');
		};
  </script>

<%- include('../partials/footer.ejs') %>
