
<%- include('../partials/header.ejs') %>

	<h1>Homepage</h1>
	<p><%= message %></p>

  <script type="text/javascript">
		var sock = new SockJS('http://localhost:9999/echo');
		// var sock = new SockJS('https://0214295b.ngrok.io');
		sock.onopen = function() {
			console.log('open');
			// sock.send('bal');
		};
		
		sock.onmessage = function(e) {
			var data = JSON.parse(e.data);
			// console.log(e.data, stomp)
			// console.log('message', e.data);
			console.log(data);
			// sock.close();
			// e.data.init();
		};
		
		sock.onclose = function() {
			console.log('close');
		};
  </script>

<%- include('../partials/footer.ejs') %>
